/*Added by Ram Prasad*/
.row {
  margin-right: 0px;
  margin-left: 0px;
}
body{
	background-image: url(../images/wallpaper.jpg);
	background-size: cover;
}

.heading{
	font-size: 35px;
	padding: 30px;
	width: 45%;
	display: inline-block;
	/*background-color: lightblue;*/
}

button{
	text-align: center;
	padding: 10px;
	background-color: transparent;
	display: block;
    margin: 0 auto;
}
hr{
	border: px solid;
	margin: 40px 0px;
}
pre{
	padding: 25px;
	white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* Table CSS */
table, th, td {
   	border: 3px solid black;
   	border-collapse: collapse; 
	margin-left: 15px;
	margin-right: 3px;
	font-size: 13px;
}
th, td {
   	padding: 8px 2px 8px 2px;
   	text-align: center;
   	height: 40px;
   	/*width: auto;*/
}
tr:first-child th{
	background-color: #999999;
	color: white;
}
/*tr:nth-child(even){background-color: #f2f2f2;}*/
option{
	padding: 20px;
}
.section-button{
	width: 15%;
	padding: 10px;
	margin: 10px;
	margin-top: -10px;
}
.action-button{
	width: 100%;
	padding: 10px;
	margin: 5px;
	/*margin-top: -10px;*/
}

.footer{
	padding: 25px;
	margin-top: 30px;
	font-size: 16px;
	opacity: .85;
	position: static;
	width: 100%;
	bottom: 0;
}
.footer-heading{
	padding-top: 10px;
}
.part-col-3{
	-webkit-columns: 3; /* Chrome, Safari, Opera */ 
    -moz-columns: 3; /* Firefox */
    columns: 3;
} @media screen and (max-width: 990px) { .part-col-3{-webkit-columns: 2;  -moz-columns: 2; columns: 2; } }
.dropdown		
 {		
 	display: inline;		
 	margin-left: 100px;		
 	text-align: center;		
 	padding: 10px;		
 	/*background-color: transparent;*/		
 	/*display: block;*/		
     margin: 0 auto;		
 }		
 form{		
 	text-align: center;		
 }		
 input,input[type=submit]{		
 	margin:7px;		
 	padding: 8px;		
 	border-radius: 5px;		
 	border-style: none;		
 	/*background-color: transparent;*/		
 }		
 input[type=submit]{		
 	width: 575px;		
 	/*display: block;*/		
 	text-align: center;		
 }	
 #first,#second,#third,#forth{		
 	display: none;		
	padding-top: 50px;		
 }
 .white{
 	color: white;
 }
 .error-msg{
 	color: red;
 	font-size: 25px;
 }
#forthbutton{
 	width: 25%;
 	/*height: 30%;*/
}

.heading1 {
	text-align: center;
	font-size: 35px;
	padding: 0px;
	width: 100%;
	/*display: block;*/
	/*background-color: lightblue;*/
}
.heading2 {
	text-align: center;
	font-size: 30px;
	padding: 1px;
	width: 100%;
	/*display: block;*/
	/*background-color: lightblue;*/
}
.content {
	text-align: center;
	font-size: 20px;
	padding: 1px;
	width: 100%;
	/*display: block;*/
	/*background-color: lightblue;*/
}
hr
{	margin-top: -10px;
	border-color: black;
}
.guide
{
	text-align: center;
	padding: 1px;
	margin-top: 1px;
	font-size: 15px;
	/*opacity: .85;*/
	position: static;
	width: 100%;
	bottom: 0;
}